@import '../_Variables.scss';

.TeamDetailsCard__Container{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px !important;
    justify-content: center;
    margin: auto;

    .TeamDetailsCard--Image{
        width: 100%;

        #TeamMemberImage{
            width: 90%;
            border-radius: 0px 15px 15px 0px;
        }
    }
    .TeamDetailsCard--Text{
        width: 100%;
    }
    .MembersSocial__Handles{
        width: 100%;
        list-style-type: none;
    }
    .MembersSocial__Handles>li{
        font-family: $Paragraph--fonts;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 900px){
    .TeamDetailsCard__Container {
        flex-direction: column;
        width: 85%;
    }
}