@import '../PagesStyles/_Variables.scss';

.NewsLetter__Container{
    width: 100%;
}
.NewsLetterSubscription{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

    #newsLetter__input{
        width: 15rem;
        padding: 0.6rem;
        font-size: 18px;
        outline: 0px;
        font-family: $Paragraph--fonts;
    }
}
// Making this page responsive
@media all and (max-width: 795px){
    .NewsLetterSubscription {
        justify-content: center;
    }
}
@media all and (max-width: 500px){
    .NewsLetterSubscription {
        width: 70%;
        margin: auto;
        flex-direction: column;
    }
    .NewsLetterSubscription #newsLetter__input {
        width: 100%;
        padding: 0.4rem;
        font-size: 17px;
    }
}