@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Edu+TAS+Beginner:wght@500&family=Inter&family=Poppins:wght@700&family=Rubik+Moonrocks&display=swap');

// Colors Arrangements
$brand-color: rgb(2, 2, 82);
$primary--text-color: black;
$secondary--text-color: #ffffff;
$secondary--brand-color: #f9240c;
$blur--background-color: rgba(0, 0, 0, 0.595);

// Fonts Arrangements
$Header--fonts: 'Poppins';
$SubHeader--fonts:'sans-serif';
$Paragraph--fonts: "Calibri";

// Shadow
$primary--shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$secondary--shadow: rgba(206, 17, 17, 0.157) 0px 7px 29px 0px;
$card--shadow : rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

// Borders
$primary--border-radius: 10px;


