@import '../_Variables.scss';


.Consultancy__Container{
    width: 100%;
    height: 100%;

.Consultancy__Intro{
    background-image: url('/Image/IntroSliderImage2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    height: 650px;
    background-color: $blur--background-color;
    background-blend-mode: soft-light;
    width: 100%;
    padding: 30px 0px 0px 0px;

}
.Consultancy__List{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
}

}
@media all and (max-width: 500px){
    .Consultancy__Container .Consultancy__Intro {
        height: 500px;
    }
}